n8n-automation/workflows/05-seguimiento-pacientes-CLOUD.json
{
  "name": "05 - Seguimiento Post-Consulta (WhatsApp Cloud)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "daily-trigger",
      "name": "Ejecutar Diario 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "1Pnp6vGwPnKsaeqEbKCeLirHI6cUwbEe1TyXqNg3gZzs",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Citas",
          "mode": "list"
        },
        "options": {
          "filter": {
            "where": "estado = 'Completada'"
          }
        }
      },
      "id": "get-completed",
      "name": "Obtener Citas Completadas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst now = new Date();\nconst results = [];\n\nfor (const item of items) {\n  const citaDate = new Date(item.json.fecha);\n  const diffDays = Math.floor((now - citaDate) / (1000 * 60 * 60 * 24));\n  \n  // Seguimiento 24h después (1 día)\n  if (diffDays === 1 && !item.json.seguimiento_24h) {\n    results.push({\n      json: {\n        ...item.json,\n        tipo_seguimiento: '24h',\n        dias_transcurridos: diffDays\n      }\n    });\n  }\n  // Check-in 7 días\n  else if (diffDays === 7 && !item.json.seguimiento_7d) {\n    results.push({\n      json: {\n        ...item.json,\n        tipo_seguimiento: '7d',\n        dias_transcurridos: diffDays\n      }\n    });\n  }\n  // Reactivación 30 días\n  else if (diffDays === 30 && !item.json.seguimiento_30d) {\n    results.push({\n      json: {\n        ...item.json,\n        tipo_seguimiento: '30d',\n        dias_transcurridos: diffDays\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "filter-followup",
      "name": "Filtrar Seguimientos Pendientes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Formatear número de teléfono para WhatsApp Cloud API\nconst item = $input.item.json;\nlet telefono = item.telefono;\n\n// Limpiar el número\ntelefono = telefono.toString().replace(/[\\s\\-\\(\\)\\+]/g, '');\n\n// Agregar código de país si no lo tiene\nif (!telefono.startsWith('506')) {\n  telefono = '506' + telefono;\n}\n\n// Crear mensaje según tipo de seguimiento\nlet mensaje = '';\n\nif (item.tipo_seguimiento === '24h') {\n  mensaje = `Hola ${item.nombre} 👋\\n\\n¿Cómo se siente después de su consulta de ayer?\\n\\nEsperamos que esté siguiendo las indicaciones y sintiéndose mejor cada día 💚\\n\\n*Recuerde:*\\n• Seguir las recomendaciones\\n• Mantener la alimentación sugerida\\n• Tomar sus productos naturales\\n\\nSi tiene dudas, estamos aquí para ayudarle.\\n\\n📞 2770-3198 / 8313-3198\\n\\nClínica Dr. William Cruz 🏥`;\n} else if (item.tipo_seguimiento === '7d') {\n  mensaje = `Hola ${item.nombre} 👋\\n\\n¿Cómo se siente después de su consulta?\\n\\nHa pasado una semana y nos gustaría saber sobre su progreso 💚\\n\\n*¿Ha notado mejoría?*\\n¿Tiene alguna pregunta sobre su tratamiento?\\n\\nEstamos aquí para ayudarle en su proceso de sanación natural.\\n\\n📞 2770-3198 / 8313-3198\\n🌐 clinicadrwilliamcruz.com\\n\\nClínica Dr. William Cruz 🌿`;\n} else {\n  mensaje = `Hola ${item.nombre} 👋\\n\\nHan pasado 30 días desde su última consulta y *nos gustaría saber de usted* 💚\\n\\n🌿 La medicina natural requiere seguimiento constante para resultados óptimos.\\n\\n*¿Le gustaría agendar una consulta de seguimiento?*\\n\\nPuede comunicarse con nosotros:\\n📞 2770-3198 / 8313-3198\\n🌐 clinicadrwilliamcruz.com\\n\\n¡Le extrañamos!\\nClínica Dr. William Cruz 🏥`;\n}\n\nreturn {\n  json: {\n    ...item,\n    telefono_whatsapp: telefono,\n    mensaje_whatsapp: mensaje\n  }\n};"
      },
      "id": "format-data",
      "name": "Formatear Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "seguimiento_24h",
              "leftValue": "={{ $json.tipo_seguimiento }}",
              "rightValue": "24h",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "switch-type",
      "name": "Tipo de Seguimiento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sendTo": "={{ $json.email }}",
        "subject": "¿Cómo se siente? - Clínica Dr. William Cruz",
        "message": "=<h2>Hola {{ $json.nombre }},</h2>\n\n<p>Esperamos que se encuentre <strong>muy bien</strong> después de su consulta de ayer.</p>\n\n<div style=\"background: #f0f9ff; padding: 20px; border-radius: 10px; margin: 20px 0;\">\n  <h3>💚 Seguimiento Post-Consulta</h3>\n  <p>¿Cómo ha evolucionado desde su visita?</p>\n  <p><strong>Recordatorio de las indicaciones:</strong></p>\n  <ul>\n    <li>✅ Siga las recomendaciones proporcionadas</li>\n    <li>🥗 Mantenga la alimentación sugerida</li>\n    <li>💊 No olvide tomar sus productos naturales</li>\n    <li>💧 Mantenga una buena hidratación</li>\n  </ul>\n</div>\n\n<p>Si tiene alguna duda o inquietud, no dude en contactarnos.</p>\n\n<p>📞 <strong>Teléfono:</strong> 2770-3198 / 8313-3198<br>\n🌐 <strong>Web:</strong> <a href=\"https://clinicadrwilliamcruz.com\">clinicadrwilliamcruz.com</a></p>\n\n<hr>\n<p style=\"color: #666; font-size: 12px;\">Clínica Dr. William Cruz - Medicina Natural 🌿<br>Pérez Zeledón, Costa Rica</p>"
      },
      "id": "email-24h",
      "name": "Email - Seguimiento 24h",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1250, 150]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendText",
        "recipientPhoneNumber": "={{ $json.telefono_whatsapp }}",
        "message": "={{ $json.mensaje_whatsapp }}"
      },
      "id": "whatsapp-7d",
      "name": "WhatsApp - Check-in 7 días",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": {
        "whatsAppApi": {
          "id": "TU_CREDENCIAL_ID",
          "name": "WhatsApp Clinica"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sendTo": "={{ $json.email }}",
        "subject": "¡Le extrañamos! - Clínica Dr. William Cruz",
        "message": "=<h2>Hola {{ $json.nombre }},</h2>\n\n<p>Han pasado 30 días desde su última consulta y <strong>nos gustaría saber de usted</strong>.</p>\n\n<div style=\"background: #fff3cd; padding: 20px; border-radius: 10px; border-left: 4px solid #ff9800; margin: 20px 0;\">\n  <h3>🌿 ¿Cómo va su proceso?</h3>\n  <p>La medicina natural requiere seguimiento constante para resultados óptimos.</p>\n  <p><strong>Un chequeo periódico nos ayuda a:</strong></p>\n  <ul>\n    <li>Evaluar su progreso</li>\n    <li>Ajustar tratamientos si es necesario</li>\n    <li>Prevenir futuras molestias</li>\n    <li>Mantener su bienestar a largo plazo</li>\n  </ul>\n</div>\n\n<p><strong>¿Le gustaría agendar una consulta de seguimiento?</strong></p>\n\n<div style=\"text-align: center; margin: 30px 0;\">\n  <a href=\"https://clinicadrwilliamcruz.com/citas.html\" style=\"background: #4CAF50; color: white; padding: 15px 30px; text-decoration: none; border-radius: 5px; display: inline-block;\">📅 Agendar Cita</a>\n</div>\n\n<p>📞 <strong>También puede llamarnos:</strong><br>\n2770-3198 / 8313-3198</p>\n\n<hr>\n<p style=\"color: #666; font-size: 12px;\">Clínica Dr. William Cruz - Medicina Natural 🌿<br>Pérez Zeledón, Costa Rica<br>🌐 clinicadrwilliamcruz.com</p>"
      },
      "id": "email-30d",
      "name": "Email - Reactivación 30 días",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1250, 450]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendText",
        "recipientPhoneNumber": "={{ $json.telefono_whatsapp }}",
        "message": "={{ $json.mensaje_whatsapp }}"
      },
      "id": "whatsapp-30d",
      "name": "WhatsApp - Reactivación 30 días",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [1450, 450],
      "credentials": {
        "whatsAppApi": {
          "id": "TU_CREDENCIAL_ID",
          "name": "WhatsApp Clinica"
        }
      }
    }
  ],
  "connections": {
    "Ejecutar Diario 9 AM": {
      "main": [[{"node": "Obtener Citas Completadas", "type": "main", "index": 0}]]
    },
    "Obtener Citas Completadas": {
      "main": [[{"node": "Filtrar Seguimientos Pendientes", "type": "main", "index": 0}]]
    },
    "Filtrar Seguimientos Pendientes": {
      "main": [[{"node": "Formatear Datos", "type": "main", "index": 0}]]
    },
    "Formatear Datos": {
      "main": [[{"node": "Tipo de Seguimiento", "type": "main", "index": 0}]]
    },
    "Tipo de Seguimiento": {
      "main": [
        [{"node": "Email - Seguimiento 24h", "type": "main", "index": 0}],
        [{"node": "WhatsApp - Check-in 7 días", "type": "main", "index": 0}],
        [{"node": "Email - Reactivación 30 días", "type": "main", "index": 0}]
      ]
    },
    "Email - Reactivación 30 días": {
      "main": [[{"node": "WhatsApp - Reactivación 30 días", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-19T00:00:00.000Z",
  "versionId": "1"
}
